<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %replace(%replace(%caller{1..2}){'Caller\+\d+\s+at\s+', ''}){'\r?\n', ''} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="all-logs-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/all.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <minIndex>1</minIndex>
      <maxIndex>3</maxIndex>
      <fileNamePattern>logs/all.%i.log.zip</fileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>5MB</maxFileSize>
    </triggeringPolicy>
    <encoder>
      <pattern>%d [%thread] %-5level %replace(%replace(%caller{1..2}){'Caller\+\d+\s+at\s+', ''}){'\r?\n', ''} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.example.logger.AppLogger" level="debug" additivity="false">
    <appender-ref ref="console" />
    <appender-ref ref="all-logs-file" />
  </logger>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
